<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre de la categoría:</ion-label>
      <ion-input clearInput [(ngModel)]="category.name"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Icono:</ion-label>
      <ion-select [(ngModel)]="category.type" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="evento">Calendario</ion-select-option>
        <ion-select-option value="notificacion">Campana</ion-select-option>
        <ion-select-option value="contacto">Contactos</ion-select-option>
        <ion-select-option value="casa">Hogar</ion-select-option>
        <ion-select-option value="historia">Libro</ion-select-option>
        <ion-select-option value="llama">Llama</ion-select-option>
        <ion-select-option value="trabajo">Maletín de trabajo</ion-select-option>
        <ion-select-option value="comida">Manzana</ion-select-option>
        <ion-select-option value="marca">Marcador</ion-select-option>
        <ion-select-option value="juego">Peón de ajedrez</ion-select-option>
        <ion-select-option value="rayo">Rayo</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
    <br>
    <br>
    <ion-button (click)="verify(category)" color="light" expand="full">Guardar</ion-button>
</ion-content>