<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="/textos">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Texto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Título del texto:</ion-label>
      <ion-input clearInput [(ngModel)]="text.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción:</ion-label>
      <ion-textarea clearInput [(ngModel)]="text.body"></ion-textarea>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Categoría a la que pertenece:</ion-label>
      <ion-input clearInput [(ngModel)]="text.belongs"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Información adicional del texto:</ion-label>
      <ion-input clearInput [(ngModel)]="text.additional_information"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <ion-button (click)="verifytxt(text)" color="light" expand="full">Guardar</ion-button>
</ion-content>